# EDA

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/Users/raghadibrahim/Desktop/WNV-mosquito-pred/data/WNV_data.csv")

In [3]:
df.head()

,SEASON YEAR,WEEK,TEST ID,BLOCK,TRAP,TRAP_TYPE,TEST DATE,NUMBER OF MOSQUITOES,RESULT,SPECIES,COMMUNITY AREA NUMBER,COMMUNITY AREA NAME,LATITUDE,LONGITUDE,LOCATION
0,2024,23,NaN,25XX W GRAND AVE,T046,GRAVID,NaN,0,NaN,NaN,24.0,WEST TOWN,41.892220,-87.691698,"(41.89221998323666, -87.69169772868295)"
1,2024,23,NaN,28XX N FRANCISCO AVE,T147,GRAVID,NaN,0,NaN,NaN,21.0,AVONDALE,41.932790,-87.700238,"(41.93279020985206, -87.7002378838387)"
2,2024,23,NaN,3XX W 104TH ST,T095,GRAVID,NaN,0,NaN,NaN,49.0,ROSELAND,41.705328,-87.632955,"(41.70532764418326, -87.63295536539816)"
3,2024,23,NaN,37XX S PULASKI RD,T063,GRAVID,NaN,0,NaN,NaN,30.0,SOUTH LAWNDALE,41.825398,-87.723962,"(41.82539825646484, -87.72396213667864)"
4,2024,23,NaN,100XX W OHARE AIRPORT,T913,GRAVID,NaN,0,NaN,NaN,76.0,OHARE,41.976201,-87.905309,"(41.97620113902387, -87.90530912510346)"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41237 entries, 0 to 41236
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SEASON YEAR            41237 non-null  int64
 1   WEEK                   41237 non-null  int64
 2   TEST ID                36363 non-null  float64
 3   BLOCK                  41237 non-null  object
 4   TRAP                   41237 non-null  object
 5   TRAP_TYPE              41237 non-null  object
 6   TEST DATE              36363 non-null  object
 7   NUMBER OF MOSQUITOES   41237 non-null  int64
 8   RESULT                 36363 non-null  object
 9   SPECIES                36363 non-null  object
 10  COMMUNITY AREA NUMBER  40921 non-null  float64
 11  COMMUNITY AREA NAME    40921 non-null  object
 12  LATITUDE               40921 non-null  float64
 13  LONGITUDE              40921 non-null  float64
 14  LOCATION               40921 non-null  object
dtypes: float64(4), int64(3), object(8)
memory usage: 4.7+ MB